graphviz
google-cloud-storage
networkx
#pandas
matplotlib
scipy # needed by networkx to make adj matrix
#tensorflow
#dvc[gs] # does not work on local cluster due to py3-git2 issue
pygraphviz
python-terraform
